@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.clearfix
	clear: both

h1, h2, h3
	text-transform: uppercase
	line-height: 1.5
	text-align: center
	font-family: "OpenSansBold",sans-serif

h1
	font-size: 24px

h2
	font-size: 22px

h3
	font-size: 20px
	color: $accent

.header
	background: $bg url(../img/pattern-3.png)
	color: #ffffff
	img
		max-width: 100%
	h1
		margin: 30px 0 0 0 
	p.top_text
		margin-top: 0
		font-size: 15px
		text-align: center
		text-transform: uppercase
		font-family: "OpenSansSemibold",sans-serif
		span
			padding: 5px
			background-color: $accent


.form
	margin-top: 100px
	width: 100%
	border-radius: 10px
	box-sizing: content-box
	background-color: #3b2d55
	background-image: url(../img/Pattern.png)
	box-shadow: 0px 2px 10px 0px #251a39
	text-align: center
	padding: 10px 0 40px
	p
		margin: 20px 0 20px
	span
		color: #a39db4
input
	outline: none
	border: none
	color: $bg
	background-color: #a39db4
	padding-left: 10px
	border-radius: 5px
	height: 40px
	width: 300px
	margin: 5px 0
input[type="submit"]
	background-color: $accent
	color: #fff
	font-family: "OpenSansSemibold",sans-serif
	text-transform: uppercase
	font-size: 14px
	box-shadow: 0px 5px #791800
	&:hover
		background-color: #cb2a02
		transition: ease 0.4s
input[type="text"]:focus,
input[type="email"]:focus
	background-color: #ececec
	transition: ease 0.4s

.why_meditation
	background: #fff url(../img/tr.png) no-repeat scroll center top
	text-align: center
	padding: 20px 0 0 0
	h2
		color: #3b2d55
		margin-bottom: 40px
	h3
		margin-top: 10px
	p
		font-size: 16px
		color: $bg
	.arrow
		background: url(../img/tr_1.png) no-repeat scroll center bottom
		height: 40px

.author
	font-family: "OpenSansLight",sans-serif
	line-height: 1.7
	padding: 20px 0 30px 0
	color: #fff
	background: $bg url(../img/pattern-3.png)
	img
		max-width: 100%
		border-radius: 60px
	.my_target
		margin-top: 40px
		span
			line-height: 2
			text-align: center
			color: #fff
			background-color: $accent
			padding: 3px 7px
	form.button
		margin-top: 50px
	input[type="submit"].diplom
		background: none
		box-shadow: none
		border: 1px solid #fff
		margin-right: 20px
		&:hover
			background-color: #FFF
			color: $bg



@import "media" // Всегда в конце
