@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.clearfix
	clear: both

h1, h2
	text-transform: uppercase
	line-height: 1.5
	text-align: center

h1
	font-size: 22px
	font-family: "OpenSansBold", sans-serif

h2
	margin-top: 0
	font-size: 15px
	font-family: "OpenSansSemibold", sans-serif

.header
	background-color: $bg
	height: 100vh
	color: #ffffff
	img
		max-width: 100%
	h1
		margin: 30px 0 0 0 



.forma
	background-color: #FFF

@import "media" // Всегда в конце
